/*ui-input*/
.ui-input {color:#333;background-color: #fff;background-image: none;border: 1px solid #ccc;}
.ui-input:hover{border-color: #00d1ff;}
.ui-input[disabled]{border-color: #7e7e7e;background-color: #7e7e7e;color: #393939;}
